<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>camisas</h1>
    <form action="camisas" method="post">
        <label for="">digite valor 1</label>
        <input type="number" name="total1" id="total1">
        <label for="">digite valor 2</label>
        <input type="number" name="total2" id="total2">
        <label for="">digite valor 3</label>
        <input type="number" name="total3" id="total3">
        <label for="">digite valor 4</label>
        <input type="number" name="total4" id="total4">
        <label for="">digite valor 5</label>
        <input type="number" name="total5" id="total5">
        <input type="submit" value="pesos">  
     </form>
     <h1>PESOS COLOMBIANO: {{pesos}}</h1>
</body>
</html>