<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="promedio" method="post">
        <label for="">primer numero</label>
        <input type="number" name="m1" id="n1"><br> <br>
        <label for="">segundo numero</label>
        <input type="number" name="m2" id="m2"><br> <br>
        <label for="">tercer numero</label>
        <input type="number" name="m3" id="m3"><br> <br>
        <input type="submit" value="Promedio">
    </form>
    <h1>promedio: {{pro}}</h1>
</body>
</html>